@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
    --font: var(--font-inter);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@page {
  size: A4;
  margin: 0; /* Remove margins for PDF printing */
}

.page {
  page-break-before: always;
  break-before: page;
  width: 210mm;
  min-height: 297mm;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page:first-of-type {
  page-break-before: auto;
  break-before: auto;
}

.page:last-of-type {
  page-break-after: auto;
  break-after: auto;
}

.page-break {
  page-break-before: always;
  break-before: page;
}

.page-container {
  width: 800px;
  min-height: 1123px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Print-specific styles */
@media print {
  body {
    background: white;
    margin: 0;
    padding: 0;
  }
  
  .page {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  
  .mt-\[10mm\] {
    margin-top: 0 !important; /* Remove margin between pages when printing */
  }
}
